<% content_for :title do %>About<% end %>
<h3>About Devin Wieland</h3>
<p>Hi there. My name is Devin. I'm married to Emily and we have a 10-month-old son named Henrik. My professional background is in marketing with an emphasis on writing.</p>
<p>I currently work for Into The Wild Marketing (intothewildmarketing.com), a digital advertising agency partner here in Fort Wayne. Took an interest in web development about 6 months ago, and it's taken over ever since... Other interests include reading, writing, cooking, playing drums, playing hockey, and having Emily teach me how to travel.</p>